$width: 0px;
$height: 0px;
$font: sans-serif;
$left: 0px;
$right: 0px;
$top: 0px;
$bottom: 0px;
$color: white;
$direction-left: left;
$direction-right: right;
$size: 0px;
ul{
	list-style: none;
	cursor: pointer;	
	li{
		padding-right: $size + 100px;
		display: inline-block;
		color: $color;
		font-size: $size + 17px;
		a{
			text-decoration: none;
			color: white;	
			&:hover{
				font-weight: bold;
			}
			&:link{
				color: white;
			}
		}
	}
}
.my_nav{
	width: $width + 800px;
	height: $height + 25px;
	background-color: gray;
	margin: $top + 10px auto;
	border-radius: $size + 2px;
	behavior: url(sass/PIE.htc);
}
#section_one{
	width: $width + 680px;
	height: $height + 25px;
	margin: $top + 5px auto;
	margin-top: $top + 10px;
	border-radius: $size + 2px;
	behavior: url(sass/PIE.htc);
}
#section_two{
	width: $width + 680px;
	height: $height + 25px;
	margin: $top + 5px auto;
	margin-top: $top + 10px;
	border-radius: $size + 2px;
	behavior: url(sass/PIE.htc);
}
.view{
	margin: $top + 5px $right + 0px $bottom $left + 320px;
	margin-top: $top + 10px;
	border-radius: $size + 2px;
	behavior: url(sass/PIE.htc);
}
.main_pane{
	height: $height + 150px;
	width: $width + 680px;
	float: $direction-left;
	border: $size + 1px solid silver;
	margin: $top + 10px $right + 5px $bottom $left + 5px;
	border-top-right-radius:2em;
	border-bottom-left-radius:2em;
	behavior: url(sass/PIE.htc);
}
.firstImages{
	height: $height + 100px;
	width: $width + 420px;
	border: $size + 1px solid silver;
	margin: $top + 200px $right + 5px $bottom $left + 5px;
}
.secondImages{
	height: $height + 100px;
	width: $width + 420px;
	border: $size + 1px solid silver;
	margin: $top + 20px $right + 5px $bottom $left + 5px;	
}
.thirdImages{
	height: $height + 100px;
	width: $width + 420px;
	border: $size + 1px solid silver;
	margin: $top + 20px $right + 5px $bottom $left + 5px;
}
#aside{
	height: $height + 342px;
	width: $width + 200px;
	border: $size + 1px solid silver;
	float: $direction-left;
	margin-top: $top - 30px;
	margin-left: $left + 810px;
	border-top-left-radius:2em;
	border-top-right-radius:2em;
	behavior: url(sass/PIE.htc);
	padding:$top + 2px $right + 2px $bottom $left + 2px; 
	font-size: 14px;
	text-shadow: 0px 2px 3px #555;
	text-align: justify;
}
footer{
	width: $width + 800px;
	height: $height + 20px;
	background-color: gray;
	text-align: center;
	color: $color;
	border-radius: $size + 2px;
	behavior: url(sass/PIE.htc);
	margin: $top + 330px auto; 
}
.mainImage{
	width: $width + 150px;
	height: $height + 150px;
}
.subImage{
	width: $width + 80px;
	height: $height + 98px;
}
.webImages{
	width: $width + 150px;
	height: $height + 150px;
	padding: $top + 5px $right $bottom $left + 7px;
}
.webhtml{
	margin: $top + 10px $right + 10px + $bottom $left + 10px;
	width: $width + 160px;
	height: $height + 160px;
	border: $size + 1px solid silver;
	float: $direction-left;

}
.webDes{
	height: $height + 160px;
	width: $width + 400px;
	float: $direction-left;
	padding: $top + 2px $right $bottom $left + 10px;
	border: $size + 1px solid silver;
	margin: $top + 10px $right + 5px $bottom $left + 5px;
	border-top-right-radius:2em;
	border-bottom-left-radius:2em;
	behavior: url(sass/PIE.htc);
}
.formError{
	color: silver; 
	font-size: $size + 11px;
}
#myForm_one{
	display: none;
}